@model IEnumerable<SoftwareMonitoringSystem.Device>
@{
    ViewBag.Title = "Strona główna";
}

<div class="row" style="margin-top:20px;margin-bottom:20px;margin-left:0px;margin-right:0px;">
    <div style="float:left;">
        <h2 style="margin:0px;">Zdefiniowane urządzenia z&nbspagentami</h2>
    </div>
    <div style="float:right;">
        <button title="Wyszukaj nowe urządzenia" class="btn btn-primary" style="float:right;" onclick="searchNewDevices()">Wyszukaj urządzenia <span class="glyphicon glyphicon-search"></span></button>
    </div>
</div>

<div id="alertErrorDevice" class="alert alert-danger" style="display:none">
    Error
</div>
<div id="alertSuccessDevice" class="alert alert-success" style="display:none">
    Success
</div>

<table id="DeviceTable" class="table">
    <tr>
        <th></th>
        <th>ID</th>
        <th>Adres MAC</th>
        <th>Producent</th>
        <th>Adres IP</th>
        <th>Opis</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>

    <tr style="background-color:#f9fbe7">
        @using (Html.BeginForm("Scan", "DevMGMT", FormMethod.Post, new { @id = "ScanDeviceForm" }))
        {
            @Html.AntiForgeryToken()
            <td>
                <button type="submit" title="Skanuj zaznaczone urządzenia" class="btn btn-primary" style="margin-top: 3px; margin-bottom: 3px" ;">Skanuj</button>
            </td>
        }
        <td></td>
        @using (Html.BeginForm("AddDevice", "DevMGMT", FormMethod.Post, new { @id = "NewDeviceForm" }))
        {
            @Html.AntiForgeryToken()
            <td>@Html.Editor("MACAddress", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "ff-ff-ff-ff-ff-ff", style = "max-width:160px;", @required = "" } })</td>
            <td>@Html.Editor("Manufacturer", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Producent", style = "max-width:150px;", @required = "" } })</td>
            <td>@Html.Editor("IPAddress", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "192.168.0.1", style = "max-width:140px;", @required = "" } })</td>
            <td>@Html.Editor("Description", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Opis", style = "max-width:200px;" } })</td>
            <td colspan="2">
                <button type="submit" title="Dodaj nowe urządzenie" class="btn btn-success" style="margin-top: 3px; margin-bottom: 3px" ;">Dodaj</button>
            </td>
        }
        @using (Html.BeginForm("Delete", "DevMGMT", FormMethod.Post, new { @id = "DelDeviceForm" }))
        {
            @Html.AntiForgeryToken()
            <td>
                <button type="submit" title="Usuń zaznaczone urządzenia" class="btn btn-danger" style="margin-top: 3px; margin-bottom: 3px" ;">Usuń</button>
            </td>
        }
    </tr>

    <tr style="background-color:#e3f2fd">
        <td align="center">@Html.CheckBox("LDev", false, new { @onchange = "checkAll(this)" })</td>
        <td>@Html.Editor("IDFilter", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "ID", style = "max-width:50px;", @name = "", @onkeyup = "FilterDevices()" } })</td>
        <td>@Html.Editor("MACFilter", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Adres MAC", style = "max-width:160px;", @name = "", @onkeyup = "FilterDevices()" } })</td>
        <td>@Html.Editor("ManufacturerFilter", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Producent", style = "max-width:150px;", @name = "", @onkeyup = "FilterDevices()" } })</td>
        <td>@Html.Editor("IPFilter", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Adres IP", style = "max-width:140px;", @name = "", @onkeyup = "FilterDevices()" } })</td>
        <td>@Html.Editor("DescriptionFilter", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Opis", style = "max-width:200px;", @name = "", @onkeyup = "FilterDevices()" } })</td>
        <td></td>
        <td></td>
        <td align="center">@Html.CheckBox("RDev", false, new { @onchange = "checkAll(this)" })</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td align="center">@Html.CheckBox("LDev", false)</td>
            <td>@Html.DisplayFor(modelItem => item.DeviceID)</td>
            <td>@Html.ActionLink(item.MACAddress, "DevHistory", new { DeviceID = item.DeviceID }, new { style = "color:#0d47a1;", @title = "Przejdź do historii skanowań urządzenia" })</td>
            <td>@Html.DisplayFor(modelItem => item.Manufacturer)</td>
            <td>@Html.DisplayFor(modelItem => item.IPAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
                @if (item.IsActive == 1)
                {
                    <span class="btn btn-success" style="margin-top: 3px; margin-bottom: 3px">Aktywny</span>
                }
                else
                {
                    <span class="btn btn-danger" style="margin-top: 3px; margin-bottom: 3px">Nieaktywny</span>
                }
            </td>
            <td>
                <a href="#editModal" role="button" class="btn btn-primary" style="margin-top: 3px; margin-bottom: 7px" data-toggle="modal" data-backdrop="static" onclick="editClick(this)">Edytuj</a>
            </td>
            <td align="center">@Html.CheckBox("RDev", false, new { @onchange = "highlightRow(this)" })</td>
        </tr>
    }

</table>

<div id="editModal" class="modal fade">
    <div class="modal-dialog" style="max-width:340px;">
        <div class="modal-content">
            @using (Html.BeginForm("Edit", "DevMGMT", FormMethod.Post, new { @id = "EditDeviceForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header modal-header-blue">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edycja urządzenia</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div id="alertSuccessEditDevice" class="alert alert-success" style="display:none">
                        <strong>Sukces!</strong> Dane zostały zmienione pomyślnie
                    </div>
                    <div id="alertErrorEditDevice" class="alert alert-danger" style="display:none">
                        Error
                    </div>
                    @Html.Hidden("DeviceID")
                    <div style="margin-bottom:5px;">
                        @Html.Editor("MACAddress", null, "MACAddress", new { htmlAttributes = new { @class = "form-control", @value = "", @placeholder = "Adres MAC", @required = "" } })
                    </div>
                    <div style="margin-bottom:5px;">
                        @Html.Editor("Manufacturer", null, "Manufacturer", new { htmlAttributes = new { @class = "form-control", @value = "", @placeholder = "Producent", @required = "" } })
                    </div>
                    <div style="margin-bottom:5px;">
                        @Html.Editor("IPAddress", null, "IPAddress", new { htmlAttributes = new { @class = "form-control", @value = "", @placeholder = "Adres IP", @required = "" } })
                    </div>
                    <div style="margin-bottom:5px;">
                        @Html.Editor("Description", null, "Description", new { htmlAttributes = new { @class = "form-control", @value = "", @placeholder = "Opis" } })
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:0px;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="width:80px;">Anuluj</button>
                    <input type="submit" value="Zmień" class="btn btn-primary" style="width:80px" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function FilterDevices() {
            var table = document.getElementById("DeviceTable");
            var length = table.children[0].children.length

            var IDFilter = document.getElementById("IDFilter").value;
            var MACFilter = document.getElementById("MACFilter").value.toUpperCase();
            var ManufacturerFilter = document.getElementById("ManufacturerFilter").value.toUpperCase();
            var IPFilter = document.getElementById("IPFilter").value.toUpperCase();
            var DescriptionFilter = document.getElementById("DescriptionFilter").value.toUpperCase();

            var index;
            var row;

            for (index = 3; index < length; index++) {
                row = table.children[0].rows[index];

                if (row.cells[1].textContent.startsWith(IDFilter) &&
                    row.cells[2].textContent.toUpperCase().startsWith(MACFilter) &&
                    row.cells[3].textContent.toUpperCase().startsWith(ManufacturerFilter) &&
                    row.cells[4].textContent.toUpperCase().startsWith(IPFilter) &&
                    row.cells[5].textContent.toUpperCase().startsWith(DescriptionFilter)) {
                    row.style.display = "";
                }
                else {
                    row.style.display = "none";
                }
            }
        }

        //https://stackoverflow.com/a/32555021
        $(function () {
            $("#NewDeviceForm").on('submit', function (e) {
                e.preventDefault() // prevent the form's normal submission
                var dataToPost = $(this).serialize()

                $.post("AddDevice", dataToPost)
                    .done(function (response, status, jqxhr) {
                        var contentType = jqxhr.getResponseHeader("Content-Type").split("; ")[0];
                        if (contentType == "application/json") {
                            $("#alertSuccessDevice").hide();
                            if (response != "Uzupełnij pole Producent" && response != "Wpisz inny adres MAC (podany jest zajęty)" && response != "Wpisz poprawny adres MAC" && response != "Wpisz inny adres IP (podany jest zajęty)" && response != "Wpisz poprawny adres IP" && response != "Spróbuj ponownie (błąd wewnętrzny aplikacji)") {
                                AddDevice(response);
                                var table = document.getElementById("DeviceTable");
                                table.rows[1].cells[2].children[0].value = "";
                                table.rows[1].cells[3].children[0].value = "";
                                table.rows[1].cells[4].children[0].value = "";
                                table.rows[1].cells[5].children[0].value = "";
                                $("#alertErrorDevice").hide();
                            }
                            else {
                                $("#alertErrorDevice")[0].innerHTML = 'Uwaga! '.bold() + response;
                                $("#alertErrorDevice").show();
                            }
                        }
                        else {
                            document.location.href = "/";
                        }

                    })
                    .fail(function (jqxhr, status, error) {
                        $("#alertErrorDevice")[0].innerHTML = 'Uwaga! '.bold() + "Spróbuj ponownie (błąd wewnętrzny aplikacji)";
                        $("#alertErrorDevice").show();
                    })
            })

            $("#DelDeviceForm").on('submit', function (e) {
                e.preventDefault()

                var IDs = [];
                var rowsToDelete = [];

                var table = document.getElementById("DeviceTable");
                var length = table.children[0].children.length
                var index;
                var row;

                for (index = 3; index < length; index++) {
                    row = table.children[0].rows[index];

                    if (row.cells[8].children[0].checked) {
                        IDs.push(parseInt(row.cells[1].textContent));
                        rowsToDelete.push(row);
                    }
                }

                $.post("Delete", { IDs: IDs })
                    .done(function (response, status, jqxhr) {
                        var contentType = jqxhr.getResponseHeader("Content-Type").split("; ")[0];
                        if (contentType == "application/json") {
                        $("#alertSuccessDevice").hide();
                        if (response == "Success") {
                            for (var i = rowsToDelete.length - 1; i >= 0; i--) {
                                table.deleteRow(rowsToDelete[i].rowIndex);
                            }
                            $("#alertErrorDevice").hide();
                        }
                        else {
                            $("#alertErrorDevice")[0].innerHTML = 'Uwaga! '.bold() + response;
                            $("#alertErrorDevice").show();
                        }
                        }
                        else {
                            document.location.href = "/";
                        }
                    })
                    .fail(function (jqxhr, status, error) {
                        $("#alertErrorDevice")[0].innerHTML = 'Uwaga! '.bold() + "Spróbuj ponownie (błąd wewnętrzny aplikacji)";
                        $("#alertErrorDevice").show();
                    })
            })

            $("#ScanDeviceForm").on('submit', function (e) {
                e.preventDefault()

                var IDs = [];
                var rowsToScan = [];

                var table = document.getElementById("DeviceTable");
                var length = table.children[0].children.length
                var index;
                var row;

                for (index = 3; index < length; index++) {
                    row = table.children[0].rows[index];

                    if (row.cells[0].children[0].checked) {
                        IDs.push(parseInt(row.cells[1].textContent));
                        rowsToScan.push(row);
                    }
                }

                $.post("Scan", { IDs: IDs })
                    .done(function (response, status, jqxhr) {
                        var contentType = jqxhr.getResponseHeader("Content-Type").split("; ")[0];
                        if (contentType == "application/json") {
                        $("#alertSuccessDevice").hide();
                        if (response == "Success") {
                            for (var i = rowsToScan.length - 1; i >= 0; i--) {
                                rowsToScan[i].cells[0].children[0].checked = false;

                            }
                        }
                        else {
                            console.log(response);
                        }
                        }
                        else {
                            document.location.href = "/";
                        }
                    })
                    .fail(function (jqxhr, status, error) {
                        console.log("ERROR");
                    })
            })
        })

        function AddDevice(response) {
            var table = document.getElementById("DeviceTable");
            if (table != 0) {

                var row = table.insertRow(3);
                for (var i = 0; i < 9; i++) {
                    row.insertCell(0);
                }

                row.cells[0].innerHTML = "<input id=\"LDev\" name=\"LDev\" value=\"true\" type=\"checkbox\"><input name=\"LDev\" value=\"false\" type=\"hidden\">";
                row.cells[0].align = "center";
                row.cells[1].innerHTML = response.DeviceID;
                row.cells[2].innerHTML = "<a href=\"/DevMGMT/DevHistory?DeviceID=" + response.DeviceID + "\" style=\"color:#0d47a1;\" title=\"Przejdź do historii skanowań urządzenia\">" + response.MACAddress + "</a>";
                row.cells[3].innerHTML = response.Manufacturer;
                row.cells[4].innerHTML = response.IPAddress;
                row.cells[5].innerHTML = response.Description;
                row.cells[6].innerHTML = "<span class=\"btn btn-danger\" style=\"margin-top: 3px; margin-bottom: 3px\">Nieaktywny</span>";
                row.cells[7].innerHTML = "<a href=\"#editModal\" role=\"button\" class=\"btn btn-primary\" style=\"margin-top: 3px; margin-bottom: 7px\" data-toggle=\"modal\" data-backdrop=\"static\" onclick=\"editClick(this)\">Edytuj</a>";
                row.cells[8].innerHTML = "<input id=\"RDev\" name=\"RDev\" onchange=\"highlightRow(this)\" value=\"true\" type=\"checkbox\"><input name=\"RDev\" value=\"false\" type=\"hidden\">\n ";
                row.cells[8].align = "center";
            }
        }

        function checkAll(checkbox) {
            var checkboxes = document.getElementsByName(checkbox.name);
            if (checkbox.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        if (checkboxes[i] != checkbox) {
                            if (checkboxes[i].checked != checkbox.checked) {
                                checkboxes[i].click();
                            }
                        }
                    }
                }
            }
            else {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        if (checkboxes[i] != checkbox) {
                            if (checkboxes[i].checked != checkbox.checked) {
                                checkboxes[i].click();
                            }
                        }
                    }
                }
            }
        }

        function highlightRow(checkbox) {
            $(checkbox.parentNode.parentNode).toggleClass('ChBoxChecked');
        }

        function editClick(button) {
            $("#alertSuccessEditDevice").hide();
            $("#alertErrorEditDevice").hide();
            var row = button.parentNode.parentNode;
            var modalForm = document.getElementById("editModal").children[0].children[0].children[0].children[2];
            modalForm.children[2].value = row.cells[1].textContent;
            modalForm.children[3].children[0].value = row.cells[2].textContent;
            modalForm.children[4].children[0].value = row.cells[3].textContent;
            modalForm.children[5].children[0].value = row.cells[4].textContent;
            modalForm.children[6].children[0].value = row.cells[5].textContent;
        }

        $("#EditDeviceForm").on('submit', function (e) {
                e.preventDefault() // prevent the form's normal submission
                var dataToPost = $(this).serialize()

                $.post('@Url.Action("Edit", "DevMGMT")', dataToPost)
                    .done(function (response, status, jqxhr) {
                        var contentType = jqxhr.getResponseHeader("Content-Type").split("; ")[0];
                        if (contentType == "application/json") {
                        if (response == "Success") {
                            $("#alertErrorEditDevice").hide();
                            $("#alertSuccessEditDevice").show();

                            var table = document.getElementById("DeviceTable");
                            var length = table.children[0].children.length
                            var modalForm = document.getElementById("editModal").children[0].children[0].children[0].children[2];
                            for (index = 3; index < length; index++) {
                                row = table.children[0].rows[index];
                                if (row.cells[1].textContent == modalForm.children[2].value) {
                                    row.cells[2].innerHTML = "<a href=\"/DevMGMT/DevHistory?DeviceID=" + modalForm.children[2].value + "\" style=\"color:#0d47a1;\" title=\"Przejdź do historii skanowań urządzenia\">" + modalForm.children[3].children[0].value + "</a>";
                                    row.cells[3].textContent = modalForm.children[4].children[0].value;
                                    row.cells[4].textContent = modalForm.children[5].children[0].value;
                                    row.cells[5].textContent = modalForm.children[6].children[0].value;
                                    break;
                                }
                            }
                        }
                        else {
                            $("#alertErrorEditDevice")[0].innerHTML = 'Uwaga! '.bold() + response;
                            $("#alertErrorEditDevice").show();
                            $("#alertSuccessEditDevice").hide();
                            }
                        }
                        else {
                            document.location.href = "/";
                        }
                    })
                    .fail(function (jqxhr, status, error) {
                        $("#alertErrorEditDevice")[0].innerHTML = 'Uwaga! '.bold() + "Spróbuj ponownie (błąd wewnętrzny aplikacji)";
                        $("#alertErrorEditDevice").show();
                        $("#alertSuccessEditDevice").hide();
                    })
        })

        function searchNewDevices() {
            $("#alertSuccessDevice")[0].innerHTML = 'Uwaga! '.bold() + "znalezione nowe urządzenia zostaną wyświetlone za chwilę!";
            $("#alertSuccessDevice").show();
            $("#alertErrorDevice").hide();

            $.get('@Url.Action("Search", "DevMGMT")')
                .done(function (response, status, jqxhr) {
                    var contentType = jqxhr.getResponseHeader("Content-Type").split("; ")[0];
                    if (contentType == "application/json") {
                        if (response == "Success") {

                        }
                    else {
                        $("#alertErrorDevice")[0].innerHTML = 'Uwaga! '.bold() + response;
                        $("#alertErrorDevice").show();
                    }
                    }
                    else {
                        document.location.href = "/";
                    }
                })
                .fail(function (jqxhr, status, error) {
                    $("#alertErrorDevice")[0].innerHTML = 'Uwaga! '.bold() + "Spróbuj ponownie (błąd wewnętrzny aplikacji)";
                    $("#alertErrorDevice").show();
                })
        }
    </script>
}