@model Dictionary<DateTime, List<SoftwareMonitoringSystem.Models.D_S_IDDescStatus>>
@{
    ViewBag.Title = "Historia skanowań";
}

<h2>Historia skanowań</h2>

<div id="alertError" class="alert alert-danger" style="display:none">
    Error
</div>

<br />

@{
    int counter = 1;
    int collapseCounter = 1;
    foreach (KeyValuePair<DateTime, List<SoftwareMonitoringSystem.Models.D_S_IDDescStatus>> item in Model)
    {
        counter = 1;
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="@("#collapse" + collapseCounter)">@Convert.ToString(string.Format("{0:dd.MM.yyyy}", item.Key))</a>
                    </h4>
                </div>
                <div id="@("collapse" + collapseCounter)" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow:auto">
                        <table class="table" style="margin-bottom:0px;">
                            <tr>
                                <th class="col-md-1">Nr</th>
                                <th class="col-md-8">Urządzenie</th>
                                <th class="col-md-2">Status</th>
                                <th class="col-md-1"></th>
                            </tr>
                            @foreach (SoftwareMonitoringSystem.Models.D_S_IDDescStatus scan in item.Value)
                            {
                                <tr>
                                    <td class="col-md-1">@counter</td>
                                    <td class="col-md-8">@Html.ActionLink(scan.Description, "DevScanDetails", new { ScanID = scan.ScanID, DeviceID = scan.DeviceID }, new { style = "color:#0d47a1;", @title = "Przejdź do szczegółów skanowania urządzenia" })</td>
                                    <td class="col-md-2">@scan.Status</td>
                                    <td class="col-md-1" align="center"><input type="button" title="Usuń skanowanie" value="Usuń" class="btn btn-danger" onclick="DeleteScan(this, scan.ScanID, scan.DeviceID)"></td>
                                </tr>
                                counter++;
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        collapseCounter++;
    }
}

<script type="text/javascript">
    function DeleteScan(btn, scanID, devID) {
        var row = btn.parentNode.parentNode;
        $.post("DeleteScan", { ScanID: scanID, DeviceID: devID })
            .done(function (response, status, jqxhr) {
                if (response == "Success") {
                    //TODO
                    row.parentNode.parentNode.deleteRow(row.rowIndex);
                    console.log(row);
                    console.log("OK");

                    if (row.parentNode.parentNode.rows.length == 1) {
                        var panel = row.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode;
                        panel.parentNode.removeChild(panel);
                    }

                    $("#alertError").hide();
                }
                else {
                    $("#alertError")[0].innerHTML = 'Uwaga! '.bold() + response;
                    $("#alertError").show();
                }

            })
            .fail(function (jqxhr, status, error) {
                $("#alertError")[0].innerHTML = 'Uwaga! '.bold() + "Spróbuj ponownie (błąd wewnętrzny aplikacji)";
                $("#alertError").show();
            })
    }
</script>
