@if (Session["Logged"] != "Admin")
{
    @model SoftwareMonitoringSystem.Models.Login
    {
        ViewBag.Title = "Panel logowania";
    }

    <div class="row" style="padding-top:30px">
        <div style="width:100%; text-align:center; padding-bottom:20px">
            <img src="~/Images/radar.png" style="max-width:50%; background-size:cover" alt="" />
            <h2>Sieciowy skaner oprogramowania</h2>
        </div>
    </div>

    using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        if (ViewBag.Alert != null)
        {
            <div class="alert alert-danger" style="text-align:center; margin-bottom:15px">
                @ViewBag.Alert
            </div>
        }

        <div class="panel" style="background-color:#f9f9f9; max-width:370px; margin-left:auto; margin-right:auto;">
            <div class="panel-heading panel-default" style="padding-bottom:4px; padding-top:4px"><h4 style="text-align:center;">Panel logowania administratora</h4></div>
            <div class="panel-body">
                <div id="LoginInput" style="margin-bottom:5px;margin-top:5px;">
                    @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control", @placeholder = "Login", @style = "max-width:none;", @required = "" } })
                </div>

                <div style="margin-bottom:5px;margin-top:5px;">
                    <div id="PassInput" style="float:left">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Hasło", @style = "max-width:none;", @required = "" } })
                    </div>
                    <button type="submit" id="LoginButton" title="Zaloguj" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-log-in"></span></button>
                </div>
            </div>
        </div>
    }

    <div class="row" style="padding-top:10px;text-align:center;">
        <h4 style="color:#9b9b9b">System monitorujący oprogramowanie komputerów w&nbspsieci lokalnej</h4>
    </div>

    @section Scripts {
        <script type="text/javascript">
            $(function () { resizePassInput(); });

            $(window).resize(function () { resizePassInput(); });

            function resizePassInput() {
                var widthLogin = document.getElementById("LoginInput").clientWidth;
                var widthButton = document.getElementById("LoginButton").clientWidth * 1.19;
                widthLogin = widthLogin - widthButton;
                document.getElementById("PassInput").style.width = widthLogin + "px";
            }
        </script>
    }
}
else
{
    @Html.Partial("_MainAdmin")
    @section Scripts {
        <script type="text/javascript">
            function FilterDevices() {
                var table = document.getElementById("DeviceTable");
                var length = table.children[0].children.length

                var LPFilter = document.getElementById("LPFilter").value;
                var MACFilter = document.getElementById("MACFilter").value;
                var ManufacturerFilter = document.getElementById("ManufacturerFilter").value;
                var IPFilter = document.getElementById("IPFilter").value;
                var DescriptionFilter = document.getElementById("DescriptionFilter").value;

                var index;
                var row;

                for (index = 2; index < length - 1; index++)
                {
                    row = table.children[0].rows[index];
                
                    if (row.cells[1].textContent.startsWith(LPFilter) &&
                        row.cells[2].textContent.startsWith(MACFilter) &&
                        row.cells[3].textContent.startsWith(ManufacturerFilter) &&
                        row.cells[4].textContent.startsWith(IPFilter) &&
                        row.cells[5].textContent.startsWith(DescriptionFilter))
                    {
                        row.style.display = "";
                    }
                    else {
                        row.style.display = "none";
                    }
                }
            }
        </script>
    }
}