<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SSO</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/AdjustedSite.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:white;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> SSO
                </a>
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#changePassModal" role="button" class="btn" style="margin-top: 2px" data-toggle="modal" data-backdrop="static" onclick="editClick(this)">Zmiana hasła</a></li>
                        <li>@Html.ActionLink("Historia skanowań", "ScanHistory", "DevMGMT", null, new { @style = "margin-top:3px;" })</li>
                    </ul>
                    @using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li style="background-color:transparent">
                                <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a>
                            </li>
                        </ul>
                    }
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="footer">
            <strong>Sieciowy skaner oprogramowania</strong>
            <br />
            @DateTime.Now.Year
        </div>
    </div>

    @if (Request.IsAuthenticated)
    {
        <div id="changePassModal" class="modal fade">
            <div class="modal-dialog" style="width:400px">
                <div class="modal-content">
                    @using (Html.BeginForm("ChangePass", "Home", FormMethod.Post, new { @id = "ChangePassForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-header modal-header-blue">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Zmiana hasła</h4>
                        </div>
                        <div class="modal-body form-horizontal">
                            <div class="form-group col-md-12">
                                @Html.Editor("actualP", null, "actualP", new { htmlAttributes = new { @class = "form-control", @value = "", @placeholder = "Aktualne hasło", @required = "" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.Editor("newP", null, "newP", new { htmlAttributes = new { @class = "form-control", @value = "", @placeholder = "Nowe hasło", @required = "" } })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.Editor("confirmNewP", null, "confirmNewP", new { htmlAttributes = new { @class = "form-control", @value = "", @placeholder = "Potwierdź nowe hasło", @required = "" } })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width:80px;">Anuluj</button>
                            <input type="submit" value="Zmień" class="btn btn-primary" style="width:80px" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (Request.IsAuthenticated)
    {
        <script type="text/javascript">
            $(function () {
                $("#ChangePassForm").on('submit', function (e) {
                e.preventDefault() // prevent the form's normal submission
                var dataToPost = $(this).serialize()

                $.post('@Url.Action("ChangePass", "Home")', dataToPost)
                    .done(function (response, status, jqxhr) {
                        if (response == "Success") {
                            console.log(response);
                        }
                        else {
                            console.log(response);
                        }
                    })
                    .fail(function (jqxhr, status, error) {
                        console.log("ERROR");
                    })
            })
            })
        </script>
    }

</body>
</html>
