<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SSO</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/AdjustedSite.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:white;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> SSO
                </a>
            </div>
            @if(Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Zmiana hasła", "ChangePass", "Home", null, new { @style = "margin-top:3px;" })</li>
                        <li>@Html.ActionLink("Historia skanowań", "ScanHistory", "DevMGMT", null, new { @style = "margin-top:3px;" })</li>
                    </ul>
                    @using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li style="background-color:transparent">
                                <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a>
                            </li>
                        </ul>
                    }
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="footer">
            <strong>Sieciowy skaner oprogramowania</strong>
            <br /> 
            @DateTime.Now.Year
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
